.case-list{
		overflow: hidden;
		li{
			margin-top: 0.16rem;
			background-color: #ffffff;
			box-shadow: 0 2px 12px -2px rgba(0,0,0,0.10);
			overflow: hidden;
			padding: 0 0.4rem;
			.case-item-flex{
				overflow: hidden;
				display: flex;
				border-bottom: 1px solid #eeeeee;
				padding: 0.16rem 0;
				.case-item-media{
					width: 2.72rem;
					height: 2.16rem;
					overflow: hidden;
					border-radius: 0.16rem;
					margin-right: 0.56rem;
					img{
						display: block;
						width: 100%;
					}
				}
				.case-item-title{
					font-size: 0.4rem;
					color: #2c2c2c;
					line-height: 0.72rem;
					flex: 1;
					max-height: 2.16rem;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
					overflow: hidden;
				}
			}
			.case-item-bottom{
				height: 0.8rem;
				line-height: 0.8rem;
				overflow: hidden;
				.case-item-owner{
					float: left;
					font-size: 0.32rem;
					color: #666666;
				}
				.case-item-like{
					float: right;
					width: 0.64rem;
					height: 100%;
					margin-right: 0.4rem;
					background: url(../../../static/images/btn19_nor.png) no-repeat center center;
					background-size: 0.64rem;
				}
				.case-item-like.like{
					background-image: url(../../../static/images/btn20_sel.png);
				}
			}
		}
	}