.res-loading{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #57238c;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    span{
        display: block;
        top: 60%;
        width: 100%;
        position: absolute;
    }
}
.welcome{
    background: url(../../../static/images/home_bg.jpg) no-repeat center -1.92rem;
    background-size: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    > div{
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .wel-logo{
        width: 1.45rem;
        height: 0.63rem;
        background-image: url(../../../static/images/home_logo.png);
        top: 0.63rem;
        left: 0.63rem;
    }
    .wel-title{
        width: 7.1666rem;
        height: 3.7777rem;
        left: 50%;
        margin-left: -3.5833rem;
        top: 0.9rem;
        background-image: url(../../../static/images/home_tit.png);
        animation: bounceInDown 1.5s ease-in-out;
        // animation-delay: .5s;
    }
    .wel-player{
        width: 7.6944rem;
        height: 5.537rem;
        background-image: url(../../../static/images/home_player.png);
        top: 4.4074rem;
        left: 50%;
        margin-left: -3.8472rem;
        animation: bounceInLeft .5s ease-in;
        img{
            width: 100%;
        }
    }
    .wel-moon{
        width: 5.6759rem;
        height: 5.6759rem;
        background-image: url(../../../static/images/home_moon.png);
        bottom: -0.66667rem;
        left: 0.2rem;
    }
    .wel-cloud2{
        width: 100%;
        height: 5.3796rem;
        background-image: url(../../../static/images/home_cloud02.png);
        bottom: 0rem;
        left: 0rem;
    }
    .wel-star{
        width: 100%;
        height: 5.3796rem;
        background-image: url(../../../static/images/home_star.png);
        bottom: 0rem;
        left: 0rem;
    }
    .wel-ball{
        width: 1.3518rem;
        height: 1.3518rem;
        background-image: url(../../../static/images/home_pokemon_ball.png);
        bottom: 1.8888rem;
        left: 1.3518rem;
        // animation: rotate 2s linear infinite;
    }
    .wel-slime{
        width: 0.9166rem;
        height: 1.037rem;
        background-image: url(../../../static/images/home_slime.png);
        bottom: 0.3333rem;
        left: 2.9259rem;
        animation: slimeHide 20s linear infinite;
    }
    .wel-cloud1{
        width: 100%;
        height: 4.2777rem;
        background-image: url(../../../static/images/home_cloud01.png);
        bottom: 0rem;
        left: 0rem;
    }
    .wel-kirby{
        width: 1rem;
        height: 0.8518rem;
        background-image: url(../../../static/images/home_kirby.png);
        bottom: 1.7314rem;
        right: 1.4537rem;
        animation: kirbyFly 20s linear infinite;
    }
    .wel-btn{
        width: 4.7037rem;
        height: 1.8333rem;
        background-image: url(../../../static/images/home_btn.png);
        bottom: 3.2685rem;
        left: 50%;
        margin-left: -2.3518rem;
        animation: bounceZoom 2s ease-in-out;
    }
    @keyframes bounceInDown{
        0%{
            transform: translateY(-4.7rem);
        }
        100%{
            transform: translateY(0);
        }
    }
    @keyframes bounceInLeft{
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
    }
    @keyframes bounceZoom{
        0%{
            transform: scale(0);
        }
        40%{
            transform: scale(1.1);
        }
        60%{
            transform: scale(1);
        }
        80%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }
    @keyframes rotate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes slimeHide{
        0%{
            bottom: 0.3333rem;
            transform: translateX(0) scaleX(1);
        }
        14.28%{
            bottom: 0;
            transform: translateX(0) scaleX(1);
        }
        28.57%{
            bottom: 0.3333rem;
            transform: translateX(0) scaleX(1);
        }
        49.9999%{
            bottom: 0.3333rem;
            transform: translateX(2rem) scaleX(1);
        }
        50%{
            bottom: 0.3333rem;
            transform: translateX(2rem) scaleX(-1);
        }
        64.28%{
            bottom: 0rem;
            transform: translateX(2rem) scaleX(-1);
        }
        78.57%{
            bottom: 0.3333rem;
            transform: translateX(2rem) scaleX(-1);
        }
        99.9999%{
            bottom: 0.3333rem;
            transform: translateX(0) scaleX(-1);
        }
        100%{
            bottom: 0.3333rem;
            transform: translateX(0) scaleX(1);
        }
        
    }
    @keyframes kirbyFly{
        0%{
            transform: translateX(0) scaleX(1);
        }
        50%{
            transform: translateX(-5.8rem) scaleX(1);
        }
        50.000001%{
            transform: translateX(-5.8rem) scaleX(-1);
        }
        99.999999%{
            transform: translateX(0) scaleX(-1);
        }
        100%{
            transform: translateX(0) scaleX(1);
        }
    }
}